{% extends 'base.html' %}

{% block title %}
    我的网站|首页
{% endblock %}

{# 引用body css样式 #}
{% block heard_extends %}
    <link rel="stylesheet" href="/static/home.css">
{% endblock %}

<!--active显示引用-->
{% block nav_home_active %}active{% endblock %}

{% block content %}
    <video id="v1" autoplay loop muted>
        <source src="../static/kui.mp4" />
    </video>
    <div class="text">
        <h1>Hello, Welcome!</h1>
<!--        <P>Always stick to the inner thoughts, never shrink-&#45;&#45; Hit worker</P>-->
    </div>

<!--    <div class="jumbotron">-->
<!--        <div class="container">-->
<!--            <h1>Hello, Welcome!</h1>-->
<!--            <P>Always stick to the inner thoughts, never shrink-&#45;&#45; Hit worker</P>-->
<!--&lt;!&ndash;            <p><a class="btn btn-primary btn-lg" href="{% url 'blog_list' %}" role="button">Learn more</a></p>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
{% endblock %}