* {
margin: 0;
padding: 0;
}

body {
    margin-top: 70px!important;
}

/*.navbar {*/
/*  min-height: 40px;*/
/*}*/
/*.nav > li > a {*/
/*  padding: 8px 15px;*/
/*}*/
/*.navbar-brand {*/
/*  padding: 8px 15px;*/
/*}*/